@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.top {
    background-color: #1F2937;
    color: white;
    padding-top: 30px;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    justify-content: space-between;
}

.right-links {
    padding: 5px;
    display: flex;
    gap: 30px;
}

.intro {
    background-color: #1F2937;
    color: white;
    padding-top: 30px;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    flex-direction: column;
}